= form_for @stat do |f|
  - if @stat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stat.errors.count, "error")} prohibited this stat from being saved:"
      %ul
        - @stat.errors.full_messages.each do |msg|
          %li= msg

  
  .form-group
    = f.label :category
    = f.select :category, enum_option_pairs(Stat, :category), {}, {class: 'form-control'}
  .form-group
    = f.label :question
    = f.text_area :question, class: 'form-control', placeholder: 'Interesting statistical question'
  .form-group
    = f.label :answer
    = f.number_field :answer, class: 'form-control', placeholder: 'Answer', step: 0.1
  .form-group
    = f.label :source
    = f.text_field :source, class: 'form-control', placeholder: 'Name of source'
  .form-group
    = f.label :year
    = f.number_field :year, class: 'form-control', placeholder: 'Year that the study or statistic was published (YYYY)', min: 1000
  .form-group
    = f.label :link
    = f.text_area :link, class: 'form-control', placeholder: 'Link to the source'
  .actions
    = f.submit 'Save', class: 'btn btn-success'
