%h1 Questions

%table.table
  %thead
    %tr
      %th Date
      %th Category
      %th Answer
      %th Year
      %th Question
      %th Source
      %th Link
      %th
      %th
      %th
      
  %tbody
    - @stats.each do |stat|
      %tr
        %td= stat.id.generation_time.strftime('%Y-%m-%d')
        %td= stat.category.capitalize
        %td= stat.answer
        %td= stat.year
        %td= stat.question
        %td= stat.source
        %td= link_to 'Click here', stat.link
        %td= link_to 'Show', stat, class: 'btn btn-primary btn-xs'
        %td= link_to 'Edit', edit_stat_path(stat), class: 'btn btn-info btn-xs'
        %td= link_to 'Destroy', stat, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'
= paginate @stats

%br

= link_to new_stat_path, class: 'btn btn-success' do
  %i.glyphicon.glyphicon-plus
  New Stat

